html {
	overflow-y: scroll;
}
body {
	margin:0;
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	background-position:center 50px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #000;
	color: #fff;
}

a:link { color: #888; }
a:visited { color: #888; }
a:hover { color: #888; }
a:active { color: #888; }

.parent{
	position: relative;
	width: 100%;
}
.inner{
	width: 804px;
	padding:0 0 20px 0;
	margin: auto;
}
.select0, .select1, .select2{
	margin:50px 0 50px 0;
	height: 40px;
	background-color:#222;
	color: #888;
	border-radius:4px;
	font-size:medium;
	width:33%;
}
.select0{width:33%;}
.select1{width:32%;}
.select2{width:32%;}

#sexArea {
	position: relative;
	z-index:100000;
	text-align:center;
	font-size:small;
	color:#999;
	border:0px solid #fff;
	margin-bottom:-30px;
	height:20px;
}
#chart_div{
	position: relative;
	z-index:10;
	display:block;
	text-align:center;
	width:800px;
	height:445px;
	border:0px solid #008080;
}
.buttonBox{
	text-align:center;
	height:70px;
	border: 0px solid #fff;
	margin-top:20px;
}

.yearButtonClass , .roopButtonClass{
	margin-top:30px;
	background-color:#222;
	color: #888;
	height: 30px;
	font-size:medium;
	border-radius:4px;
	width:84px;
}

.footerTextClass{
	width:100%;
	margin-top:80px;
	font-size:small;
	color:#bbb;
}

/* ノートPC用 */
@media only screen and (max-width:1400px){
	.select0, .select1, .select2{
		margin:10px 0 10px 0;
		height: 30px;
	}
	.yearButtonClass , .roopButtonClass {
		margin-top:6px;
	}
	.footerTextClass{
		margin-top:50px;
	}
}

/* スマホ用 */
@media only screen and (max-width:750px){ 
	.inner{
		width: 100%;
	}
	#chart_div{
		width:100%;
	}
	img{
		width:100%;
	}
	.select0, .select1, .select2{
		width:100%;
		margin:3px 0 0 0;
		height: 30px;
	}
	#sexArea {
		padding-left:12px;
	}
	.yearButtonClass{
		font-size:small;
		width:50px;
		margin-top:6px;
	}
	.roopButtonClass{
		font-size:small;
		width:80px;
		margin-top:6px;
	}
	.buttonBox{
		margin-top:5px;
	}
	.footerTextClass{
		margin-top:30px;
	}
}

/* 検証用 */
.box{
	float: left;
	border: 1px solid #000000;
}
.boxContainer{
	overflow: hidden;
	font-size:x-small;
}